# ESP-IDF build artifacts
build/
sdkconfig
sdkconfig.old
dependencies.lock
managed_components/
.idea/
config.json

# Walter Modem Library
walter_modem/

# ESP WebRTC
/esp-webrtc-solution-v1.0.0

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
Thumbs.db
.clangd
.gitignore
.devcontainer/Dockerfile
.devcontainer/devcontainer.json

# File with API Key
spiffs_data/config.json

# Misc temp project files
/extras/